body {
    padding-top: 160px;
}

#formula-form {
  top: 50px;
  left: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #000;
}

#formula-input {
  height:50px;
  font-size:18pt;
  padding: 5px 5px;
  width: 400px;
  font-family: monospace;
  margin: 10px;
}

#calc-records {
  height: 600px;
  display: block;
  overflow: auto;
}

.formula-input-busy {
  background: url(busy_icon.gif);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: left;
}