[Unit]
Description=APLaC-Chat Frontend  Web App
After=network.target

[Service]
ExecStart=/usr/bin/dotnet frontend.dll
WorkingDirectory=/home/aplac/aplac/frontend/src/bin/
User=aplac
Restart=on-failure
EnvironmentFile=/etc/sysconfig/frontend.env

[Install]
WantedBy=multi-user.target
