[Unit]
Description=APLaC-Chat Chat Web App
After=network.target

[Service]
ExecStart=/home/aplac/virtualenv/tf140py2/bin/gunicorn run_infer_web:app -b localhost:8000
WorkingDirectory=/home/aplac/aplac/chat
User=aplac
Restart=on-failure

[Install]
WantedBy=multi-user.target
