html, body {
  height: 100%;    /* This is to get the height of parent containing iframe height size.*/
}

body {
  background-color: transparent;
}

#chat-body {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#chat-form {
  top: 20px;
  left: 0;
  text-align: center;
  padding-right: 20px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#chat-input {
  height:50px;
  font-size:18pt;
  padding: 5px 5px;
  width: 100%;
  font-family: monospace;
  margin: 10px;
}

#chat-scroll {
  font-size:14pt;
  font-family: monospace;
  /* Show verticall scroll bar when the size exceeds the hight. The height
  is dynamically set in javascript because this div's height is variable
  while input form's height is constant. */
  overflow: auto;
  /* Make the child div align at bottom. */
  position: relative;
}

#chat-records {
  max-height: inherit;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.chat-input-busy {
  background: url(../images/busy_icon.gif);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: left;
}

.chat-send-record {
  width: 100%;
  padding-left: 100px;
  text-align: right;
}

.chat-receive-record {
  width: 100%;
  padding-right: 100px;
  text-align: left;
}

.chat-send-decorate, .chat-receive-decorate  {
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
  min-width: 100px;
  display: inline-block;
}

.chat-send-decorate {
  background-color: aquamarine;
}
.chat-receive-decorate {
  background-color: blanchedalmond;
}