.body-content {
    margin-top: 86px;
}

body {
    /* for iframe transparent test */
    /* background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
    #8a3;
    background-size: 20px 20px; */
    background-color: beige;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 10px 50px;
}

.login-google {
    border: 0px;
    width: 191px;
    height: 46px;
    background: url("/images/google/btn_google_signin_light_normal_web.png") no-repeat;
    display: inline-block;
}
.login-google:hover {
    background: url("/images/google/btn_google_signin_light_focus_web.png") no-repeat;
}
.login-google:active {
    background: url("/images/google/btn_google_signin_light_pressed_web.png") no-repeat;
}
