@page
@model IndexModel

<h3>Let's have a chat with Tamura-san!</h3>
<p>This chat system uses <a href="https://aplac.net/">APLaC</a>'s essays, written by Mr.Tamura, as the human language data source. The responses you get here are all based on his essays!</p>

<iframe src="@Model.EmbedIndexURL" scrolling="no" width="100%" 
    height="300" frameborder="0" style="border:0"></iframe>

<h3>Chat anyware!</h3>
<p>Use the code below to embed the chat frame into your web site. He can be anywhere!</p>
<input type="text" style="width: 100%" 
    value="<iframe src=&quot;@Model.EmbedIndexURL&quot; scrolling=&quot;no&quot; width=&quot;100%&quot; height=&quot;300&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot;></iframe>"
 />
