@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="formula-form">
    <input type="text" id="formula-input" autocomplete="off" maxlength="100" placeholder="try 1 * (2 + 3)" />
    <p>test</p>
</div>

