@page
@model AboutModel

<h3>About the APLaC Chat project</h3>
<p>The APLaC Chat project is a software project since 2017 that the author of this site developed for his own interest. The source code and the technical details are all open and available on <a href="https://github.com/ryuji-konishi/AplacChat">GitHub.</a></p>

<h3>About the author</h3>
<p>Hi there! I'm Ryan, software engineer, father of two, Mazda RX-7 and Tesla owner, Australian parmanent residency holder, and I'm from Japan.</p>
<p>I love to learn new things, especially in the computer programming technology. I developed this project to glance at the Deep Learning world and to see what is making the world so excited about it. I've been spending my spare time on it with joy.</p>
<p>The reason that I chose APLaC site as the source of NMT dataset is that Mr.Tamura, the founder of APLaC, is a respectful person I look up. He endeavors the world with his sophisticated but heartwarming beliefs with a lot of encouragement and humor. And also his essays, which have been constantly updated weekly more than over the past 20 years, are notably a good source of Japanese texts and sentences that are perfect to be fed into NMT neural network. I used to see him when I lived in Sydney back then. I can't appreciate enough for his friendship and limitless support.</p>
<p>If you are interested in me, please refer to my <a href="https://www.linkedin.com/in/ryujikonishi/">LinkedIn</a>. I hope to be connected with people who share the same interests. See you!</p>

<h3>APLaC-Chatプロジェクトについて</h3>
<p>このプロジェクトでは、深層学習を用いた機械翻訳(Neural Machine Translation: NMT)を検証・評価することを目的として、APLaCサイト管理者田村氏の了承のもと、Ryanこと管理人が作成したものです。</p>
<p>本プロジェクトはオープンソースです。開発の手順、付属情報、およびソースコードは全て<a href="https://github.com/ryuji-konishi/AplacChat">GitHub</a>にて開示してあります。</p>
<p>APLaCエッセイの著者である田村氏とは、管理人が2001年の頃にオーストラリアへワーキングホリデーをして以来、仲良くさせてもらっています。今回、田村氏のエッセイを学習データ元として選んだのには、個人的なつながりもさることながら、田村氏のエッセイのパワーを少しでも世に広める手伝いができないかと思ったのが理由です。激しい時代の変化と、押しつぶされるような生きづらさ。そういった人たちに向けて書かれた氏のエッセイには、管理人自身も何度も勇気付けられてきました。日本だけにとらわれない、己の人生を豊かにするための様々なヒントがユーモアと共に氏の愛情に包まれて、理路整然と散りばめられている氏のエッセイ。チャットボットと言えども、それを元に学習すれば、誰かを勇気付けられるような物が出来上がるのではないかと思いました。今回、田村氏からの協力の元、ささやかながらもプロジェクトの成果を公開することができたこと、感謝いたします。</p>
    
<h3>権利事項</h3>
<p>本サイトの利用により発生した、あらゆる損害事象について管理人は責任を持ちませんので、それをご理解の上、ご利用ください。</p>
<p>学習データ元となるAPLaCエッセイの著作権ならびに肖像権は田村氏に帰属します。</p>
