@page
@model AboutModel

<h3>Koni4について</h3>
<p>シドニー在住のソフトウェアエンジニア。日々、新しい技術に興味を持ち、それを理解し身につけて行くことに強いやり甲斐を感じる、ちょっと控えめな40代男。二児のパパであり、週末はいつも子供と遊ぶのを楽しみにしている。</p>
<p>プログラミングの他に、クルマ・バイクも好き。ギターもちょっと弾ける。離婚を機に、今までやって来たことの意味や、自分が本当にやりたいこと、これからの人生の過ごし方など、人生の棚卸しの真っ只中である。</p>
<p><a href="https://www.linkedin.com/in/ryujikonishi/">LinkedInはこちら</a>。ご興味あればご忌憚なくメッセージください。</p>

<h3>APLaC-Chatプロジェクトについて</h3>
<p>このプロジェクトでは、深層学習を用いた機械翻訳(Neural Machine Translation: NMT)を検証・評価することを目的として、APLaCサイト管理者田村氏の了承のもと、開発者であるKoni4が作成したものです。</p>
<p>本プロジェクトはオープンソースです。開発の手順、付属情報、およびソースコードは全て<a href="https://github.com/ryuji-konishi/AplacChat">GitHub</a>にて開示してあります。</p>
<p>APLaCエッセイの著者である田村氏とは、Koni4が2001年の頃にオーストラリアへワーキングホリデーをして以来、仲良くさせてもらっています。今回、田村氏のエッセイを学習データ元として選んだのには、個人的なつながりもさることながら、田村氏のエッセイのパワーを少しでも世に広める手伝いができないかと思ったのが理由です。激しい時代の変化と、押しつぶされるような生きづらさ。そういった人たちに向けて書かれた氏のエッセイには、Koni4本人も何度も勇気付けられてきました。日本だけにとらわれない、己の人生を豊かにするための様々なヒントがユーモアと共に氏の愛情に包まれて、理路整然と散りばめられている氏のエッセイ。チャットボットと言えども、それを元に学習すれば、誰かを勇気付けられるような物が出来上がるのではないかと思いました。今回、田村氏からの協力の元、ささやかながらもプロジェクトの成果を公開することができたこと、感謝いたします。</p>
    
<h3>権利事項</h3>
<p>本サイトの利用により発生した、あらゆる損害事象についてKoni4は責任を持ちませんので、それをご理解の上、ご利用ください。</p>
<p>開示されたソースコードは、商用・非商用を問わず、改変、再配布が可能です。ただし、著作権はKoni4に帰属しますので、再配布の際にはその旨ご開示ください。</p>
<p>学習データ元となるAPLaCエッセイの著作権ならびに肖像権は田村氏に帰属します。</p>

