@page
@model AboutModel

<h3>This is a demonstration site of the APLaC Chat project</h3>
<p>The APLaC Chat project is a software project that the author of this site developed for his own interest. The source code and the technical details are all open and available on <a href="https://github.com/ryuji-konishi/AplacChat">GitHub.</a></p>

<h3>About the author</h3>
<p>Hi there! My name is Ryuji. I'm a software engineer, a father of two, living in Sydney Australia, thinking to get a new motorcycle, and I'm from Japan.</p>
<p>I love to learn new things, especially in programming technology. I developed this project to glance at the Deep Learning world and to see what is making the world so excited about it. The main development platform that I use in my daily job is Microsoft Windows, accompanied by .NET platform, ASP.NET and T-SQL, while the most of Deep Learning platforms are built on Linux with Python. So for me, Python was kind of new thing which is why I've been spending my spare time on it with joy.</p>
<p>The reason that I chose APLaC site as the source of NMT dataset is that Mr.Tamura, the founder of APLaC, is a respectful person who endeavors the world with his sophisticated but heartwarming beliefs with a lot of encouragement and humor. And also his essays, which have been constantly updated weekly more than over the past 20 years, are notably a good source of Japanese texts and sentences that are perfect to be fed into NMT neural network. By the way, I see him as my life supporting mentor, I go to see him when I have hardship in my life. I can't appreciate enough for his friendship and limitless support.</p>
<p>If you are interested in me, please refer to my <a href="https://www.linkedin.com/in/ryujikonishi/">LinkedIn</a>. I hope to be connected with people who share the same interests. See you!</p>
